<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ path('yhblog_homepage') }}">Mon blog</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('yhblog_homepage') }}">Home</a></li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    {% endif %}

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('posts_new') }}">écrire un article</a></li>
                    {% endif %}
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>